git+https://github.com/tensorlayer/tensorlayerx.git
numpy>=1.16.1
easydict==1.9
opencv-python>=4.5.1.48

https://github.com/tensorlayer/SRGAN
spustenie
source srgan/SRGAN/env/bin/activate
cd srgan/SRGAN
napriklad: python src/srgan_convnext/train_convnext.py
